// Override Minima defaults
$brand-color:       #800020; // Burgundy
$link-color:        #a34974; // Muted maroon
$border-color:      #d4a59a; // Soft pink
$code-background:   #f8f1e5; // Cream

// Custom variables
$teddy-brown:       #d4a59a; // accent color
$section-padding:   3rem !default;


